.header {
  text-align: center;
  border: 1px solid var(--color-green);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.header__title {
  background-color: var(--color-green);
  color: var(--color-darkgreen);
  padding-top: 8px;
  margin: 0;
}

.header__subtitle {
  display: block;
  font-size: 75%;
  background-color: var(--color-white);
  color: var(--color-darkgreen);
  padding: 8px;
}
